.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 984px;
  min-width: 320px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 0 24px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0;
  }
}
