.footer__link-container {
  margin: 0;
}


@media screen and (max-width: 767px) {
  .footer__link-container {
    margin: 0 0 32px 0;
  }

  .footer__link-container:last-child {
    margin: 0 0 48px 0;
  }
}
