.footer {
  width: 100%;
  max-width: 1184px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-self: center;
  margin: 0 0 24px;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    /* margin: 0 4.5% 24px 4.5%;
     */
     padding-left: 16px;
    flex-direction: column;
  }
}
